<div class="dropdown d-inline-block grid-bar-face">
    <button class="btn dropdown-toggle" type="button" id="dropdown-menu-button-face"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="grid-bar-face-value"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdown-menu-button-face">
        <a class="dropdown-item grid-bar-face-value-default" data-value="default">Default</a>
        <a class="dropdown-item grid-bar-face-value-photo" data-value="photo">Photo</a>
        <a class="dropdown-item grid-bar-face-value-face" data-value="face">Face</a>
    </div>
</div>