<div class="btn-group grid-bar-annotation" role="group" aria-label="Annotation and help buttons">
    <button type="button" class="btn btn-secondary rounded-left grid-bar-annotation-save">
        <i class="fas fa-save"></i>
    </button>
    <button type="button" class="btn btn-secondary annotation-positive-bg grid-bar-annotation-positive">&nbsp;</button>
    <button type="button" class="btn btn-secondary annotation-negative-bg grid-bar-annotation-negative">&nbsp;</button>
    <button type="button" class="btn btn-secondary annotation-neutral-bg grid-bar-annotation-neutral">&nbsp;</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{ grid_id }}ModalAnnotationHelp">
        <i class="fas fa-question"></i>
    </button>
</div>
