{% extends 'page_layout/sidebar.html' %}

{% block css %}{{ super() }}
    {{ includeTemplatesCSS(['page_elements/web-search.html', 'page_elements/grid.html']) }}
{% endblock %}

{% block js %}{{ super() }}
    {{ includeTemplatesJS(['page_elements/web-search.html', 'page_elements/grid.html']) }}
{% endblock %}

{% macro js() %}
    <script type="text/javascript" src="{{ static('base/js/web-search.js') }}"></script>
{% endmacro %}

{% block sidebar_content %}
    {% with web_search_id = 'Person' %}
        <div id="webcrawlerParameterDiv" class="mb-2">
            {% with default_keyword = get_selected_class_search_term() %}
                <form id="webSearch{{ web_search_id }}Form" action="javascript:void(0);"
                      onsubmit="webSearchLoadingAnimation('{{ web_search_id }}');">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Search keyword</span>
                        </div>
                        <input type="text" class="form-control" id="webSearch{{ web_search_id }}Text"
                               placeholder="{% if default_keyword %}{{ default_keyword }}{% endif %}"
                               aria-label="Text input for keyword, dropdown for number of results and 'Go!' button">
                        <div class="input-group-append">
                            <select class="form-control rounded-0 selectpicker" id="webSearch{{ web_search_id }}License">
                                <option value="default">Any license</option>
                                <option value="noncommercial">Non-commercial</option>
                            </select>
                            <select class="form-control rounded-0 selectpicker" id="webSearch{{ web_search_id }}MaxResults">
                                {% for count in [50, 100, 250, 500, 750, 1000] %}
                                    <option value="{{ count }}">{{ count }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary" id="webSearch{{ web_search_id }}Submit">
                                <span class="spinner-grow spinner-grow-sm" id="spinner" role="status" aria-hidden="true" hidden></span>
                                <span class="sr-only" id="spinnerText" hidden>Loading...</span>
                                <span id="text">Go!</span>
                            </button>
                        </div>
                    </div>
                </form>
            {% endwith %}
        </div>
        {% with grid_id = 'gridWebSearch', grid_bar = ['dimension', 'pagination', 'annotation-face'] %}
            {% include 'page_elements/grid.html' %}
            <script>
                $(function () {
                    let grid = new GridAnnotationFace(
                        '{{ grid_id }}',
                        '{{ url("face_recognition:data_web_crawler_query") }}',
                        {
                            'text': new HTMLInputText('#webSearch{{ web_search_id }}Text',
                                '{{ get_selected_class_search_term() }}', true),
                            'license': new HTMLInputSelect('#webSearch{{ web_search_id }}License'),
                            'max': new HTMLInputSelect('#webSearch{{ web_search_id }}MaxResults')
                        },
                        {{ get_annotating_class_id() }},
                        '#webcrawlerParameterDiv'
                    );
                    grid.enableElementPrefetching();
                    grid.on('updated', function (data) {
                        webSearchLoadingReset('{{ web_search_id }}');
                        if (grid.elementCount === 0) {
                            addMessage("Warning", "fa-exclamation-triangle text-warning",
                                "If the search term is not extraordinary an empty result probably means " +
                                "something went wrong when crawling results.");
                        } else {
                            addMessage("Info", "fa-info-circle", "Found " + grid.elementCount
                                + " images using search engine '" + data["engine"] + "'", 4);
                        }
                    });

                    $('#webSearch{{ web_search_id }}Form').on('submit', function (event) {
                        Cookies.set('face', 'face', {expires: 365, sameSite: 'Lax'});
                        grid.face = 'face';

                        grid.proposeUpdate(_ => {
                            grid.page = 1;
                            grid.elementBuffer = [];
                        });
                    });
                });
            </script>
        {% endwith %}
    {% endwith %}
{% endblock %}