{% extends 'page_layout/sidebar.html' %}

{% block js %}{{ super() }}
    <script type="text/javascript" src="{{ static('face_recognition/js/person-selection.js') }}"></script>
{% endblock %}


{% block sidebar_content %}
    {% if request.GET.next %}
        <div class="alert alert-danger" role="alert">
            You have to select a person first!
        </div>
    {% endif %}
    <div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPersonModalLabel">Add person</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="select-person-error-alert" class="alert alert-danger alert-profile-form col d-none"
                         role="alert"></div>
                    <input type="text" class="form-control mb-2" id="inputName" placeholder="Name">
                    <input type="text" class="form-control" id="inputDescription" placeholder="Description (optional)">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="addPersonButton">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="toolbar">
        <button type="button" class="btn btn-outline-primary" data-target="#addPersonModal" data-toggle="modal">
            <i class="fas fa-plus" aria-hidden="true"></i> Add new class
        </button>
    </div>
    <table class="table table-striped" id="personTable" data-toggle="table" data-pagination="true" data-toolbar="#toolbar"
           data-show-icons="true" data-show-pagination-switch="true" data-click-to-select="true" data-search="true"
           data-show-columns="true">
        {% csrf_token %}
        <thead class="bg-primary text-white">
        <tr>
            <th scope="col" data-field="active" data-width="1">Selected</th>
            <th scope="col" data-field="name" data-sortable="true" data-sort-name="name"
                data-width-unit="%" data-width="30">Person
            </th>
            <th scope="col" data-field="description" data-sortable="true" data-sort-name="description"
                data-width-unit="%" data-width="70">Description
            </th>
            <th scope="col" data-field="positives" data-sortable="true" data-sort-name="positives" data-width="1">Positive</th>
            <th scope="col" data-field="edit" data-width="1">Edit</th>
        </tr>
        </thead>
        <tbody>
        {% set positives = count_class_bboxes(get_class_ids(2)) %}
        {% for person in collection_persons %}
            <tr>
                <td class="text-center">
                    <input type="radio" name="selected"
                           {% if request.session.selected_person == person.id %}checked{% endif %}>
                </td>
                <td>{{ person.name }}</td>
                <td>{{ person.description|default_if_none("") }}</td>
                <td class="text-right">{{ positives.get(person.id)|default_if_none(0) }}</td>
                <td class="text-nowrap">
                    <a href="{{ url("face_recognition:edit_person", args=(person.id,)) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="ml-3" href="{{ url("face_recognition:delete_person", args=(person.id,)) }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input id="nextValue" type="hidden" value="{% if request.GET.next %}{{ request.GET.next }}{% endif %}">
    <input id="personSelectUrl" type="hidden" value="{{ url("face_recognition:select_person") }}">
    <input id="personAddUrl" type="hidden" value="{{ url("face_recognition:add_person") }}">

{% endblock %}
